.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.area {
  min-width: 300px;
  max-height: 80px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.graph {
  width: 800px;
  height: 500px;
  margin: 15px;
}

mat-form-field {
  margin-right: 20px;
}

.graph-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bar-chart-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bar-chart-button {
  margin: 15px;;
}


.generate-graph-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.graphs-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 15px;
}
