<div class="main">
  <mat-form-field appearance="fill" class="area">
    <mat-label>
      Wklej token(w formacie "Bearer XXX"),
      <br>
      aby pobrać listę postanowień
    </mat-label>
    <textarea #token matInput></textarea>
  </mat-form-field>
  <button (click)="fetchGoals(token.value)" color="primary" mat-raised-button type="submit">Pobierz postanowienia
  </button>
</div>

<div class="graph-controls">
  <form>
    <mat-form-field>
      <mat-label>Wybierz postanowienie</mat-label>
      <mat-select [(ngModel)]="selectedGoal" name="goal">
        <mat-option *ngFor="let select of goals" [value]="select.id">
          {{select.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <mat-form-field>
    <mat-label>Start date</mat-label>
    <input [formControl]="startDate" [matDatepicker]="startDatePicker" matInput>
    <mat-datepicker-toggle [for]="startDatePicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #startDatePicker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>End date</mat-label>
    <input [formControl]="endDate" [matDatepicker]="endDatePicker" matInput>
    <mat-datepicker-toggle [for]="endDatePicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #endDatePicker></mat-datepicker>
  </mat-form-field>
</div>
<div class='generate-graph-controls'>
  <button (click)="generateCharts()" color="primary" mat-raised-button type="submit"> Generuj wykresy</button>
</div>
<div class='graphs-list'>
  <br>
  <h2>Pie chart</h2>
  <div id="goals-status-chart" style="width: 800px;height:500px;"></div>
  <br>
  <h2>Bar chart</h2>
  <div class="bar-chart-buttons">
    <button (click)="updateBarChart('daily')" class="bar-chart-button" mat-raised-button type="submit">
      Dzień
    </button>
    <button (click)="updateBarChart('weekly')" class="bar-chart-button" mat-raised-button type="submit">
      Tydzień
    </button>
    <button (click)="updateBarChart('monthly')" class="bar-chart-button" mat-raised-button type="submit">
      Miesiąc
    </button>
    <button (click)="updateBarChart('yearly')" class="bar-chart-button" mat-raised-button type="submit">
      Rok
    </button>
    <button (click)="editStatusToValueMap()" class="bar-chart-button" color="warn" mat-raised-button type="submit">
      Edycja wartości
    </button>
  </div>
  <div id="goals-bar-chart" style="width: 1200px;height:500px;"></div>
</div>
